#coding: utf-8

<%= image_tag("head.png" , size: "512x64" ,alt: "Ruby on Rails", align:"top") %>
<div class="menubar">
<%= menu_link_to "TOP" , root_path %> &nbsp;|&nbsp;
<%= menu_link_to "記事一覧" ,:articles %> &nbsp;|&nbsp;
</div>